---
import RubiksCube from "@images/rubikscube.webp";
const { title, content, image, links } = Astro.props;

import "./index.scss";
import { Image } from "astro:assets";

const displayImage = image || RubiksCube;
---

<div class="projectCard">
  <Image
    class="projectCardImg"
    src={displayImage}
    alt={title}
    width={410}
    height={150}
  />
  <div class="content">
    <h2>{title}</h2>
    <p>{content}</p>
  </div>
  <ul class="links">
    {
      links.map(({ Icon, link }) => {
        if (!Icon) return null;
        return (
          <li>
            <a href={link} target="_blank">
              <Icon />
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
