---
import { getCollection } from "astro:content";

import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import Layout from "@layouts/index.astro";

import placeholderImage from "@images/placeholder.webp";
import chaseMoon from "@images/chase.gif";

import PostCard from "@components/General/Blog/PostCard.astro";

const blogEntries = await getCollection("blog");
---

<Layout title="Blog">
  <SectionHeaderImage
    title="Blog"
    Image={placeholderImage}
    quote="The Moon’s surface is actually dark"
  />
  <div style="display:flex; gap : 1.2rem; margin-top : 2rem; flex-wrap: wrap; justify-content: space-around;">
    {
      blogEntries.map(async (post) => {
        const { title, description, image, pubDate, author } = post.data;
        return (
          <PostCard
            title={title}
            description={description}
            image={image}
            pubDate={pubDate}
            author={author}
            slug={"/blog/posts/" + post.slug}
          />
        );
      })
    }
    <PostCard
      title={"Why Moon?"}
      description={"Why moon is so inspiring ?"}
      image={{
        url: chaseMoon,
        alt: "Alt",
      }}
      pubDate={"17-01-2024"}
      author={"Sahil Rana"}
      slug={"/blog/whyMoon"}
    />
  </div>
</Layout>
