---
import { getCollection } from "astro:content";

import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import Layout from "@layouts/index.astro";

import placeholderImage from "@images/snippetsPlaceholder.webp";

import SnippetCard from "@components/General/Blog/SnippetCard/index.astro";
import { snippetsPageKeywords } from "@utils/metaKeywords";

const snippetsEntries = await getCollection("snippets");
---

<Layout
  title="Code Snippets | Sahil Singh Rana | Software Developer | Sahil Rana"
  description="I post code small code snippets here."
  keywords={snippetsPageKeywords}
>
  <SectionHeaderImage
    title="Code Snippets"
    Image={placeholderImage}
    quote="The Moon was made when a rock smashed into Earth"
    showBreadcrumbs
  />
  <div style="margin-top:3em; min-height: 40vh;">
    {
      snippetsEntries.map(async (post) => {
        const { title, description, image } = post.data;
        return (
          <SnippetCard
            title={title}
            description={description}
            image={image}
            slug={post.slug}
          />
        );
      })
    }
  </div>
  <div class="moonFact">
    Many living organisms, including humans, have biological rhythms influenced
    by lunar cycles.
  </div>
</Layout>
