---
import Mooon from "./moooon.gif";
import mailToQR from "@images/mailtoQR.png";
import { links } from "@utils/constants";

import {
  Github as GithubIcon,
  Linkedin,
  Twitter,
  Instagram,
} from "lucide-astro";

import "./index.scss";
import { Image } from "astro:assets";
---

<div class="businessCard">
  <div class="front">
    <Image src={Mooon} alt="card bg" width={310} height={70} />
    <h3>Sahil Singh Rana</h3>
    <span>Software Developer</span>
  </div>
  <div class="back">
    <Image src={mailToQR} alt="mail qr code"  />
    <ul>
      <li>
        <a target="_blank" href={links.github}>
          <GithubIcon /> @sahilsinghrana
        </a>
      </li>
      <li>
        <a target="_blank" href={links.linkedin}>
          <Linkedin /> @sahilsinghrana
        </a>
      </li>
      <li>
        <a target="_blank" href={links.twitter}>
          <Twitter /> @sahilrana010
        </a>
      </li>
      <li>
        <a target="_blank" href={links.instagram}>
          <Instagram /> @sahilrana0_0
        </a>
      </li>
    </ul>
  </div>
</div>
