---
import { Image } from "astro:assets";

import "./postcard.scss";

const { title, description, image, slug } = Astro.props;

---

<a href={slug} class="blogPostCard">
  <Image src={image.url} alt={image?.alt || "alt"} width="76" height={280} />
  <div class="content">
    <h3>{title}</h3>
    <p class="description">{description}</p>
    <!-- <div class="meta">
      <>
        <span>{pubDate}</span>
        <span>{author}</span>
      </>
    </div> -->
  </div>
</a>
