---
import { Image } from "astro:assets";

import "./postcard.scss";
// import { formatDate } from "@utils/date";

const { title, description, image, slug } = Astro.props;
---

<a href={slug} class="blogPostCard">
  <Image src={image.url} alt={image?.alt || "alt"} width={250} height={70} />
  <div class="content">
    <h2 class="title" id={slug}>{title}</h2>
    <p class="description">{description}</p>
    <!-- {
      pubDate && (
        <div class="meta">
          <span>{formatDate(pubDate)}</span>
        </div>
      )
    } -->
  </div>
</a>
