---
import { getCollection } from "astro:content";

import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import Layout from "@layouts/index.astro";

import placeholderImage from "@images/blogPostsPlaceholdercomp.webp";

import PostCard from "@components/General/Blog/PostCard.astro";
import { postsPageKeywords } from "@utils/metaKeywords";
import moonFacts from "@utils/moonFacts";

const blogEntries = await getCollection("blog");
---

<Layout
  title="Blog Posts | Sahil Singh Rana | Software Developer | Sahil Rana"
  description="Hey! here I am writing about random topics which i have learned along the way."
  keywords={postsPageKeywords}
>
  <SectionHeaderImage
    title="Blog Posts"
    Image={placeholderImage}
    quote={moonFacts.moonQuakes.fact}
    showBreadcrumbs
  />
  <div
    style="display:flex; gap : 1.2rem; margin-top : 2rem; flex-wrap: wrap; justify-content: space-around;"
  >
    {
      blogEntries.map(async (post) => {
        const { title, description, image, pubDate, author } = post.data;
        return (
          <PostCard
            title={title}
            description={description}
            image={image}
            pubDate={pubDate}
            author={author}
            slug={"/blog/posts/" + post.id}
          />
        );
      })
    }
  </div>
  <div class="moonFact">
    {moonFacts.heavilyCratered.fact}
  </div>
</Layout>
