---
import { getCollection } from "astro:content";

import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import Layout from "@layouts/index.astro";

import placeholderImage from "@images/blogPostsPlaceholder.webp";

import PostCard from "@components/General/Blog/PostCard.astro";

const blogEntries = await getCollection("blog");
---

<Layout
  title="Blog Posts | Sahil Singh Rana"
  description="Hey! here I am writing about random topics which i have learned along the way."
  keywords={[
    "Sahil Rana",
    "Software developer",
    "Blog posts",
    "List",
    "Technology",
    "Technical",
    "posts",
  ]}
>
  <SectionHeaderImage
    title="Blog Posts"
    Image={placeholderImage}
    quote="The Moon has quakes too"
    showBreadcrumbs
  />
  <div
    style="display:flex; gap : 1.2rem; margin-top : 2rem; flex-wrap: wrap; justify-content: space-around;"
  >
    {
      blogEntries.map(async (post) => {
        const { title, description, image, pubDate, author } = post.data;
        return (
          <PostCard
            title={title}
            description={description}
            image={image}
            pubDate={pubDate}
            author={author}
            slug={"/blog/posts/" + post.slug}
          />
        );
      })
    }
  </div>
</Layout>
