---
import { getCollection } from "astro:content";

import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import Layout from "@layouts/index.astro";

import placeholderImage from "@images/placeholder.webp";

import PostCard from "@components/General/Blog/PostCard.astro";

const blogEntries = await getCollection("blog");
---

<meta http-equiv="refresh" content={`0;URL=${Astro.url.origin}/blog`} />

<Layout title="Blog">
  <SectionHeaderImage title="Posts" Image={placeholderImage} />
  <div style="display:flex; gap : 10px; margin-top : 2rem;">
    {
      blogEntries.map(async (post) => {
        const { title, description, image, pubDate, author } = post.data;
        return (
          <PostCard
            title={title}
            description={description}
            image={image}
            pubDate={pubDate}
            author={author}
            slug={post.slug}
          />
        );
      })
    }
  </div>
</Layout>
