---
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
const {
  className = "",
  src,
  alt,
  height,
  width,
  widths,
  loading,
} = Astro.props;

import fluteImage from "./flutenobg (3).png";
---

<div id="profilePicContainer" class="profilePicContainer">
  <Image
    src={fluteImage}
    alt={"FLutee"}
    class="flutebg"
    height={height + 150}
    width={width + 150}
  />
  <Picture
    formats={["avif", "webp"]}
    widths={widths || [80, 450]}
    class={className}
    src={src}
    alt={alt}
    height={height}
    width={width}
    loading={loading}
  />
</div>

<script>
  import { getCurrentMoonData } from "@utils/currentMoonData";

  const profilePicContainer = document.getElementById("profilePicContainer");
  const lunarAgePercent = parseInt(
    getCurrentMoonData().lunarAgePercent.replace("%", "").trim(),
  );

  const triangularWavePercent = 100 - Math.abs(2 * lunarAgePercent - 100);
  if (profilePicContainer)
    profilePicContainer.style.setProperty(
      "--percent",
      String(triangularWavePercent),
    );
</script>
