---
// import { Image } from "astro:assets";
import ThreeDmoonLoader from "@components/General/Moon/ThreeDmoonLoader..astro";
import { Picture } from "astro:assets";
const {
  className = "",
  src,
  alt,
  height,
  width,
  widths,
  loading,
} = Astro.props;

// import fluteImage from "./flutenobg (3).png";
---

<div id="profilePicContainer" class="profilePicContainer">
  <div
    style="position: absolute; z-index: -2;top:-52%; opacity: 0.99;height: 300px; width: 95dvw; pointer-events:all; background:transparent;"
    id="moonRoot"
  >
  </div>
  <Picture
    formats={["avif", "webp"]}
    widths={widths || [80, 450]}
    class={className}
    src={src}
    alt={alt}
    height={height}
    width={width}
    loading={loading}
    fetchpriority={"high"}
  />
  <ThreeDmoonLoader />
</div>

<!-- 
<script defer>
  import { getCurrentMoonData } from "@utils/currentMoonData";

  const profilePicContainer = document.getElementById("profilePicContainer");
  const lunarAgePercent = parseInt(
    getCurrentMoonData().lunarAgePercent.replace("%", "").trim(),
  );

  const triangularWavePercent = 100 - Math.abs(2 * lunarAgePercent - 100);
  if (profilePicContainer)
    profilePicContainer.style.setProperty(
      "--percent",
      String(triangularWavePercent),
    );
</script> -->

<script src="../General/Moon/3dMoon/main.js" defer></script>
