---
import Pill from "./Pill.astro";

const { title, pills = [], className = "" } = Astro.props;
---

<section id={title} class={`pillSection ${className}`}>
  <h2>{title}</h2>
  <ul>
    {
      pills.map((pill = []) => {
        const [text, link] = pill;
        return (
          <li>
            <Pill text={text} link={link} />
          </li>
        );
      })
    }
  </ul>
</section>
