---
import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import Layout from "../layouts/index.astro";
import placeholderImage from "@images/placeholder5.webp";

import BusinessCard from "@components/General/BusinessCard/index.astro";
import { links } from "@utils/constants";
import { Github, Instagram, Linkedin, Twitter } from "lucide-astro";

import "@assets/styles/contact.scss";
---

<Layout
  title="Contact | Sahil Rana"
  description="Wanna talk? Let's connect. Reach out to me through this Contact page."
  keywords={[
    "Sahil Rana",
    "Contact",
    "Portfolio",
    "Feedback",
    "Inquiry",
    "Collaboration",
    "Opportunities",
  ]}
>
  <SectionHeaderImage
    title="Contact"
    Image={placeholderImage}
    quote="The Moon is drifting away from the Earth"
  />

  <div class="contactCardWrapper">
    <BusinessCard />
  </div>
  <div class="contactMe">
    <p class="mail">
      Feel free to get in touch with me via email at <a
        href="mailto:ranasahil98@gmail.com">ranasahil98@gmail.com</a
      >
    </p>

    <div>
      <p>Alternatively, you can connect with me on:</p>
      <ul>
        <small>
          <li>
            <Linkedin /> Linkedin : <a target="_blank" href={links.linkedin}
              >@sahilsinghrana</a
            >
          </li>
          <li>
            <Twitter /> X : <a target="_blank" href={links.twitter}
              >@sahilrana010</a
            >
          </li>
          <li>
            <Github /> Github : <a target="_blank" href={links.github}
              >@sahilsinghrana</a
            >
          </li>
          <li>
            <Instagram /> Instagram : <a target="_blank" href={links.instagram}
              >@sahilrana0_0</a
            >
          </li>
        </small>
      </ul>
    </div>
  </div>
  <div class="moonFact">
    The far side of the Moon has a vastly different terrain compared to the near
    side, with a thicker crust and more craters.
  </div>
</Layout>
