---
import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import Layout from "../layouts/index.astro";
import ProjectCard from "@components/Projects/ProjectCard.astro";
import projects from "@utils/projects";

import placeholderImage from "@images/placeholder3.webp";

import "@assets/styles/projects.scss";
import { projectsPageKeywords } from "@utils/metaKeywords";
---

<Layout
  title="Projects | Sahil Rana"
  description="Explore the collection of projects by Sahil Rana, offering a glimpse into his journey as a software developer."
  keywords={projectsPageKeywords}
>
  <SectionHeaderImage
    title="Projects"
    Image={placeholderImage}
    quote="Earth's Moon has no moons of its own."
  />

  <div class="projectList">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          content={project.content}
          links={project.links}
          image={project.image}
        />
      ))
    }
  </div>
  <div class="moonFact">
    The Moon appears larger near the horizon, but this is an optical illusion.
  </div>
</Layout>
