---
import SectionHeaderImage from "@components/General/Image/SectionHeaderImage.astro";
import Layout from "../layouts/index.astro";
import ProjectCard from "@components/Projects/ProjectCard.astro";
import projects from "@utils/projects";

import placeholderImage from "@images/placeholder3.webp";

import "@assets/styles/projects.scss";
import { projectsPageKeywords } from "@utils/metaKeywords";
import moonFacts from "@utils/moonFacts";
---

<Layout
  title="Projects | Sahil Rana | Software Developer"
  description="Explore the collection of projects by Sahil Rana, offering a glimpse into his journey as a software developer."
  keywords={projectsPageKeywords}
>
  <SectionHeaderImage
    title="Projects"
    Image={placeholderImage}
    quote={moonFacts.noMoonsOfMoon.fact}
  />

  <div class="projectList">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          content={project.content}
          links={project.links}
          image={project.image}
        />
      ))
    }
  </div>
  <div class="moonFact">
    {moonFacts.largerAtHorizon.fact}
  </div>
</Layout>
