---
import { links } from "@utils/constants";
import {
  Github as GithubIcon,
  Linkedin,
  Twitter,
  Instagram,
  Mail,
} from "lucide-astro";
---

<div class="social">
  <ul>
    <li>
      <a target="_blank" href={links.github}>
        <GithubIcon />
      </a>
    </li>
    <li>
      <a target="_blank" href={links.linkedin}>
        <Linkedin />
      </a>
    </li>
    <li>
      <a target="_blank" href={links.twitter}>
        <Twitter />
      </a>
    </li>
    <li>
      <a target="_blank" href={links.instagram}>
        <Instagram />
      </a>
    </li>
    <li>
      <a target="_blank" href={links.mail}>
        <Mail />
      </a>
    </li>
  </ul>
</div>
