---
import { links } from "@utils/constants";
import {
  Github as GithubIcon,
  Linkedin,
  Twitter,
  Instagram,
  Mail,
} from "lucide-astro";
---

<div class="social">
  <ul>
    <li>
      <a target="_blank" href={links.github} aria-label="github">
        <GithubIcon alt="github" />
      </a>
    </li>
    <li>
      <a target="_blank" href={links.linkedin} aria-label="linkedin">
        <Linkedin alt="linkedin" />
      </a>
    </li>
    <li>
      <a target="_blank" href={links.twitter} aria-label="twitter">
        <Twitter alt="twitter" />
      </a>
    </li>
    <li>
      <a target="_blank" href={links.instagram} aria-label="instagram">
        <Instagram alt="instagram" />
      </a>
    </li>
    <li>
      <a target="_blank" href={links.mail} aria-label="Mail">
        <Mail alt="Mail" />
      </a>
    </li>
  </ul>
</div>
