---
import { links } from "@utils/constants";
import {
  Github as GithubIcon,
  Linkedin,
  Twitter,
  Instagram,
  Mail,
} from "lucide-astro";
---

<div class="social">
  <ul>
    <li>
      <a target="_blank" href={links.github} >
        <GithubIcon alt="github" />
      </a>
    </li>
    <li>
      <a target="_blank" href={links.linkedin} >
        <Linkedin alt="linkedin"/>
      </a>
    </li>
    <li>
      <a target="_blank" href={links.twitter} >
        <Twitter alt="twitter"/>
      </a>
    </li>
    <li>
      <a target="_blank" href={links.instagram} >
        <Instagram alt="instagram" />
      </a>
    </li>
    <li>
      <a target="_blank" href={links.mail}>
        <Mail  alt="Mail" />
      </a>
    </li>
  </ul>
</div>
