---
import Element from "./Element.astro";

import { ELEMENTS } from "./elementInfos";

import "./ElementsInfo.scss";
---

<div class="resourceDesignElementsWrapper">
  <h2>Design elements</h2>
  <ul class="designElementsList">
    {
      ELEMENTS.map((el) => (
        <Element
          img={el.img}
          shortDesc={el.shortDesc}
          title={el.title}
          dName={el.name}
          description={el.description}
        />
      ))
    }
  </ul>
</div>
