---
import { Breadcrumbs } from "astro-breadcrumbs";

import Layout from "./index.astro";
import "./blogPost.scss";
import { Image } from "astro:assets";

const { entry } = Astro.props;

const { data } = entry;
const { title, image, description, tags } = data;
---

<Layout
  title={title + " | Sahil Singh Rana"}
  description={description}
  keywords={tags}
>
  <div class="blogPostHeading">
    <div class="bg">
      <Image
        src={image.url}
        alt={image.alt}
        height={image.url.height || 100}
        width={image.url.width || 300}
      />
      <div class="head">
        <h2><em>{title}</em></h2>
        <Breadcrumbs
          linkTextFormat="capitalized"
          mainBemClass="blog-breadcrumbs"
        />
      </div>
    </div>
  </div>
  <slot />
</Layout>
