---
import { Breadcrumbs } from "astro-breadcrumbs";
import { Schema } from "astro-seo-schema";

import Layout from "./index.astro";
import "./blogPost.scss";
import { Image } from "astro:assets";
import { formatDate } from "@utils/date";

const { entry } = Astro.props;

const { data } = entry;
const { title, image, description, tags, pubDate } = data;
---

<head>
  <Schema
    item={{
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      headline: title,
      description: description,
      image: image.url,
      author: {
        "@type": "Person",
        name: "Sahil Rana",
        url: "https://sahilrana.in",
      },
      publisher: {
        "@type": "Person",
        name: "Sahil Rana",
        logo: {
          "@type": "ImageObject",
          url: "",
        },
      },
      datePublished: pubDate,
    }}
  />
</head>

<Layout
  title={title + " | Sahil Rana"}
  description={description}
  keywords={tags}
>
  <div class="blogPostHeading">
    <div class="bg">
      <Image
        src={image.url}
        alt={image.alt}
        height={image.url.height || 100}
        width={image.url.width || 300}
        loading="eager"
      />
      <div class="head">
        <h2><em>{title}</em></h2>
        <Breadcrumbs
          linkTextFormat="capitalized"
          mainBemClass="blog-breadcrumbs"
        />
      </div>
    </div>
  </div>
  <slot />
  {
    pubDate && (
      <div class="blogPostMeta">
        <span class="pubDate">
          Published On:{" "}
          <time datetime={formatDate(pubDate)}>{formatDate(pubDate)}</time>
        </span>
      </div>
    )
  }
</Layout>
