---
import { ViewTransitions } from "astro:transitions";
import { Head } from "astro-capo";

import Header from "@components/Header/index.astro";
import Footer from "@components/Footer/index.astro";

import GtagScripts from "./Metas/GtagScripts.astro";
import OgMeta from "./Metas/OgMeta.astro";
import DescriptionMeta from "./Metas/DescriptionMeta.astro";
import SchemaLd from "./Metas/SchemaLd.astro";

import Moon from "@components/General/Moon/index.astro";

import "@styles/global.scss";

const { title, description, keywords } = Astro.props;

const currentUrl = new URL(Astro.url.pathname, Astro.site);
---

<style is:global>
  .astro-route-announcer {
    display: none;
  }
</style>

<html lang="en">
    <ViewTransitions fallback="swap" />
    <Head>
    <SchemaLd />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="canonical" href={currentUrl} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="google-site-verification"
      content="w4Q8_lhxctc5EB94weOcv_HFvNR7h_gyjZPRJcRuWqQ"
    />

    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />

    <GtagScripts />
    <OgMeta title={title} description={description} />
    <DescriptionMeta title={title} description={description} keywords={keywords} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>{title}</title>
  </Head>

  <body>
    <Header />
    <Moon />
    <main>
      <div class="content">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
