---
import { Head } from "astro-capo";

import Header from "@components/Header/index.astro";
import Footer from "@components/Footer/index.astro";
import Moon from "@components/General/Moon/index.astro";

import OgMeta from "./Metas/OgMeta.astro";
import GtagHeadScripts from "./Metas/GtagHeadScripts.astro";
import DefaultMeta from "./Metas/DefaultMeta.astro";
import DescriptionMeta from "./Metas/DescriptionMeta.astro";

const { title, description, keywords, className } = Astro.props;

import "@styles/global.scss";
---

<html lang="en">
  <Head>
    <DefaultMeta />
    <GtagHeadScripts />
    <OgMeta title={title} description={description} />
    <DescriptionMeta
      title={title}
      description={description}
      keywords={keywords}
    />

    <title>{title}</title>
  </Head>

  <body>
    <Header />
    <Moon />
    <main>
      <div class={"content " + className} transition:animate="fade">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<script>
  import { getRandom } from "@components/Spotify/helpers/utils";

  for (let i = 0; i < 11; i++) {
    const star = document.createElement("div");
    star.className = "star";

    const animationDuration = getRandom(4, 10, 0.1);
    const animationDelay = getRandom(1, 14);
    const windowHeight = window.innerWidth;
    const windowWidth = window.innerWidth;

    star.style.animationDuration = animationDuration + "s";
    star.style.animationDirection = animationDelay + "s";
    star.style.setProperty("--max-opacity", String(getRandom(0.3, 1, 0.1)));

    star.style.top = getRandom(3, windowHeight + 140, 1) + "px";
    star.style.left = getRandom(2, windowWidth + 5, 1) + "px";

    document.body.appendChild(star);
  }
</script>
